html,
body {
  margin: 0;
  height: 100%;
}

input[type="file"] {
  display: none;
}

.imageUpload {
  width: 50%;
  height: 50px;
  background-color: #008EBB;
}

#captureContainer {
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#captureContainer label {
  font-family: roboto, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}