.topBar {
    background-color: #008EBB;
    overflow: hidden;
    width: 100%;
    height: 75;
    display: flex;
    align-items: center;
}

.bottomBar {
    background-color: #dddddd;
    width: 100%;
    height: 75;
    display: flex;
    align-items: center;
}

#message {
    padding-right: 35px;
}

#backButton {
    font-size: 40;
    line-height: 0%;
    width: 80;
    text-align: center;
    color: white;
    text-decoration: none;
}

p {
    color: white;
    font-family: sans-serif;
    font-size: 14;
}

#exclaimation {
    font-size: 40;
    line-height: 0%;
    width: 80;
    text-align: center;
}

.bottomItem {
    width: 25%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.poseDesc {
    resize: none;
    font-size: 50;
}

.bottomItem p {
    width: 100%;
    color: #777777;
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

.bottomItem:first-of-type {
    background-color: #008EBB;
}

.bottomItem .selectedText {
    color: white;
}

.selectedText {
    margin: 0;
}

.unselectedImg,
.selectedImg {
    max-height: 40px;
    max-width: 40px;
}

#saveButton {
    color: white;
    font-family: sans-serif;
    font-size: 24;
    margin-left: auto;
    margin-right: 30px;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: #f0f0f0;
}

.row {
    display: flex;
    align-content: center;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 75%;
}

.column:first-of-type {
    width: 25%;
}

#formContainer {
    flex: 1;
}

.inputTitle {
    color: black;
    margin-left: auto;
    height: 40px;
}

.inputItem {
    height: 40px;
    font-size: 20px;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 80%;
    border: 10px;
    resize: none;
}

#descriptionItem {
    height: 200px;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 30px;
    width: 75%;
    border: 10px;
    resize: none;
}

#finalSaveButton {
    color: green;
    font-family: sans-serif;
    font-size: 24;
    margin-left: 80%;
    text-decoration: none;
}

input[type="file"] {
    display: none;
}

.imageUpload {
    width: 50%;
    height: 50px;
    background-color: #008EBB;
}

#captureContainer {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
}

#buttonContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#captureContainer label {
    font-family: roboto, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}